.metadata/.lock
.metadata/.log
.metadata/version.ini
.metadata/.plugins/*

# Debug configurations
!.metadata/.plugins/org.eclipse.debug.core

.ut.dat
debugger/.td.dat
RemoteSystemsTempFiles

language.settings.xml

*.axf
*.mk
*.o
*.d

.lock
.log
*.prefs
